
/* Importet google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
}

body {
  background-color: #DDE6ED;
  .split-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 20px auto;
    font-weight: 500;
    color: #9DB2BF;
  }
  .main-area {
    margin: 0 4px;
    .main {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
      max-width: 920px;
      background: #fff;
      border-radius: 10px;
      padding: 16px;
      column-gap: 25px;
      margin: 0 auto;
      .section-1 {
        padding: 20px 0;
        width: 100%;
        border-radius: 4px;
        .cost-1 {
          .text-1 {
            margin-bottom: 16px;
            color: #9BA4B5;
        }
        .bill-cost-div {
          position: relative;
          .icon-1 {
            position: absolute;
            left: 10px;
            top: 21px;
            transform: translateY(-50%);
            color: #9BA4B5;
            font-size: 24px;
            font-weight: 900;
          }
          .bill-cost {
            text-align: right;
            height: 46px;
            width: 100%;
            border: none;
            border-radius: 5px;
            font-size: 26px;
            font-weight: 700;
            padding-right: 8px;
            margin-bottom: 40px;
            color: #27374D;
            background-color: #DDE6ED;
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              appearance: none;
            }
            &:focus {
              outline: 1px solid #066163;
            }
          }
        }
        .text-2 {
          margin-bottom: 16px;
          color: #9BA4B5;
        }
        .tip-percent {
          margin-bottom: 40px;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(101px, 1fr));
          gap: 12px 10px;
          .btn-1 {
            cursor: pointer;
            height: 46px;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            border: none;
            border-radius: 5px;
            outline: none;
            background-color: #27374D;
            &:hover {
              background-color: #526D82;
              color: #27374D;
            }
            &:active {
              background-color: #245953;
              color: #E49393;
            }
          }
          .btn-2 {
            height: 46px;
            color: #27374D;
            font-size: 24px;
            font-weight: 700;
            border: none;
            border-radius: 5px;
            outline: none;
            background-color: #DDE6ED;
            text-align: center;
            &:focus {
              outline: 1px solid #066163;
            }
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              appearance: none;
            }
          }
        }
        .people-title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;
          .text-3 {
            color: #9BA4B5;
          }
          .error-text {
            color: red;
          }
        }
        .total-peeps-div {
          position: relative;
          .icon-2 {
            position: absolute;
            left: 10px;
            top: 21px;
            transform: translateY(-50%);
          }
          .total-peeps {
            text-align: right;
            height: 46px;
            width: 100%;
            border: none;
            border-radius: 5px;
            font-size: 26px;
            font-weight: 700;
            padding-right: 8px;
            outline: none;
            background-color: #DDE6ED;
            &:focus {
              outline: 1px solid #066163;
            }
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              appearance: none;
            }
          }
        }
      }
    }
    .section-2 {
      width: 100%;
      background-color: #27374D;
      border-radius: 6px;
      height: 413.5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 58px 38px 38px 38px;
      .cover-div {
        .result-1, .result-2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 50px;
          align-items: center;
          .result-text-1 {
            font-weight: 700;
            font-size: 19px;
            color: #fff;
            .span-text {
              font-size: 14px;
              color: #DDE6ED;
            }
          }
          .result-cost {
            font-size: 42px;
            font-weight: 900;
            letter-spacing: 2px;
            color: #86A3B8;
          }
        }
      }
      .reset-btn {
        width: 100%;
        text-transform: uppercase;
        color: #27374D;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2px;
        background-color: #526D82;
        border: none;
        border-radius: 5px;
        height: 46px;
        &:hover {
          color: #3C486B;
          background-color: #9DB2BF;
        }
        &:active {
          background-color: #245953;
          color: #E49393;
        }
      }
    }
  }
}

}